__pycache__/decode_d_deletion_error_non_binary_alphabet.cpython-312.pyc
__pycache__/decode_d_indel_error_non_binary_alphabet.cpython-312.pyc
.vscode/settings.json
__pycache__/decode_d_deletion_error_non_binary_alphabet_copy.cpython-312.pyc
decode_d_deletion_error_non_binary_alphabet_old.py
log_deletions_non_binary_2.csv
